.dealer {
  background-color: green;
  width: 80%;
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 1rem;
  border-top: 3px solid black;
}

.card {
  border: 3px solid black;
  height: 15rem;
  width: 10rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }
}
